<section id="about">
  <div class="row section-intro">
    <div class="col-twelve">
      <h1 style="color:#1E90FF">ABOUT</h1>
      <h1>Let me introduce myself.</h1>
      <div class="intro-info">
        <img src="images/profile-pic.jpg" alt="Profile Picture" loading="lazy">
        <p class="lead">I am Akhil Verma currently working as Senior Software Engineer at Intuit having previous experience in the field of full stack development.</p>
      </div>
    </div>
  </div>
  <div class="row about-content">
    <div class="col-six tab-full">
      <h3>Profile</h3>
      <p>Self motivated individual with more than 4 years industrial experience and 6 months internship experience in frontend development.</p>
      <ul class="info-list">
        <li><strong>Full Name:</strong><span>Akhil Verma</span></li>
        <li><strong>Job:</strong><span>Full Stack Developer</span></li>
        <li><strong>Website:</strong><span>akhverma1997.github.io</span></li>
        <li><strong>Email:</strong><span>akhverma1997@gmail.com</span></li>
      </ul>
    </div>
    <div class="col-six tab-full">
      <h3>Skills</h3>
      <ul class="skill-bars">
        <li><div class="progress percent85"><span>85%</span></div><strong>Angular</strong></li>
        <li><div class="progress percent88"><span>88%</span></div><strong>Java</strong></li>
        <li><div class="progress percent85"><span>85%</span></div><strong>Html5 & CSS3</strong></li>
        <li><div class="progress percent85"><span>85%</span></div><strong>Javascript</strong></li>
        <li><div class="progress percent85"><span>85%</span></div><strong>Spring Boot</strong></li>
        <li><div class="progress percent85"><span>85%</span></div><strong>Bootstrap</strong></li>
        <li><div class="progress percent90"><span>90%</span></div><strong>C</strong></li>
        <li><div class="progress percent90"><span>90%</span></div><strong>MySQL, MSQL, Oracle, IBM DB2</strong></li>
        <li><div class="progress percent90"><span>90%</span></div><strong>Gradle and Maven</strong></li>
        <li><div class="progress percent85"><span>85%</span></div><strong>Jenkins, Gerrit and JIRA</strong></li>
        <li><div class="progress percent85"><span>85%</span></div><strong>JUnit, Jasmine and Karma</strong></li>
      </ul>
    </div>
  </div>
  <div class="row button-section">
    <div class="col-twelve">
      <a href="#contact" title="Hire Me" class="button stroke smoothscroll">Hire Me</a>
<!--      <a href="" title="Download CV" class="button button-primary" target="_blank">Download CV</a>-->
    </div>
  </div>
</section>
