<section id="services">
  <div class="overlay"></div>
  <div class="row section-intro">
    <div class="col-twelve">
      <h1 style="color:#1E90FF">SERVICES</h1>
      <h1>What Can I Do For You?</h1>
      <p class="lead">Having experience in different technologies in Full Stack Web Development with knowledge of current technologies in Cloud Computing.</p>
    </div>
  </div>
  <div class="row services-content">
    <div class="col-twelve">
      <div class="services-list block-1-3 block-tab-1-2 block-mob-full group">
        <div class="bgrid service">
          <span class="icon"><i class="icon-earth"></i></span>
          <div style="color:#1E90FF" class="service-content">
            <h3>Backend Developer</h3>
            <p class="desc">Having experience in programming languages like C, C++ and Java and have the knowledge of Data Structures and Algorithms. Have the experience of databases like MySQL, MSSQL, Oracle and IBM DB2 while making RESTful API using Spring Boot. Also involved in competitive programming in platforms like HackerRank.</p>
          </div>
        </div>
        <div class="bgrid service">
          <span class="icon"><i class="icon-window"></i></span>
          <div style="color:#1E90FF" class="service-content">
            <h3>Web Developer</h3>
            <p class="desc">Having experience in various technologies like HTML5, CSS3, JavaScript, Laravel PHP Framework, Bootstrap CSS framework. Made various websites which are currently live which also includes some prestigious websites of Delhi University.</p>
          </div>
        </div>
        <div class="bgrid service">
          <span class="icon"><i class="icon-toggles"></i></span>
          <div style="color:#1E90FF" class="service-content">
            <h3>Cloud Associate</h3>
            <p class="desc">Currently Microsoft Azure Fundamentals Certified and Oracle Cloud Infrastructure Foundations 2020 Associate. Also have the knowledge of AWS Essentials.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
