<section id="resume" class="grey-section">
  <div class="row section-intro">
    <div class="col-twelve">
      <h1 style="color:#1E90FF">RESUME</h1>
      <h1>More of my credentials.</h1>
      <p class="lead">Below are the details regarding my Industrial experience and Education.</p>
    </div>
  </div>
  <div class="row resume-timeline">
    <div class="col-twelve resume-header">
      <h2>Work Experience</h2>
    </div>
    <div class="col-twelve">
      <div class="timeline-wrap">
        <div class="timeline-block">
          <div class="timeline-ico"><i class="fa fa-graduation-cap"></i></div>
          <div class="timeline-header"><h3>Senior Software Engineer</h3><p>August 2022 - PRESENT</p></div>
          <div class="timeline-content"><h4>Intuit</h4><p>Worked on microservices architecture and handled migration of more than 40 services and various libraries from Oracle to Postgres. Increased performance by 40% by optimizing queries and code. Implemented workflows to support new products to onboard new customers. Reduced the issues by 30% by doing Root cause analysis and fixing them.</p></div>
        </div>
        <div class="timeline-block">
          <div class="timeline-ico"><i class="fa fa-graduation-cap"></i></div>
          <div class="timeline-header"><h3>Software Engineer</h3><p>November 2020 - August 2022</p></div>
          <div class="timeline-content"><h4>Capgemini Engineering</h4><p>Created RESTful API using Spring MVC, Hibernate, JPA and Spring Boot. Used MySQL, MSSQL, Oracle and IBM DB2 databases. Also contributed in creating web applications using Angular and writing unit tests using Jasmine and Karma.</p></div>
        </div>
        <div class="timeline-block">
          <div class="timeline-ico"><i class="fa fa-graduation-cap"></i></div>
          <div class="timeline-header"><h3>Summer Intern</h3><p>May 2019 - July 2019</p></div>
          <div class="timeline-content"><h4>Garage Productions Pvt. Ltd.</h4><p>Worked as Web Developer with a team of 4 people. Built Company Management System with MVC architecture using Laravel with Nginx server. Built responsive Astrology Website project using Node.js. Reduced website loading time by 50%.</p></div>
        </div>
        <div class="timeline-block">
          <div class="timeline-ico"><i class="fa fa-graduation-cap"></i></div>
          <div class="timeline-header"><h3>Winter Intern</h3><p>December 2018 - January 2019</p></div>
          <div class="timeline-content"><h4>Jawaharlal Nehru University</h4><p>Built the responsive placement cell website of JNU with a team of more than 10 people. Designed using HTML5, CSS3, Bootstrap, jQuery and JavaScript.</p></div>
        </div>
        <div class="timeline-block">
          <div class="timeline-ico"><i class="fa fa-graduation-cap"></i></div>
          <div class="timeline-header"><h3>Summer Intern</h3><p>June 2016 - July 2016</p></div>
          <div class="timeline-content"><h4>ILJIN Electronics</h4><p>Worked on project "Study of machines used in PCB Designing". Studied about different machines in Auto Insertion, SMD and Manual Insertion Department.</p></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row resume-timeline">
    <div class="col-twelve resume-header">
      <h2>Education</h2>
    </div>
    <div class="col-twelve">
      <div class="timeline-wrap">
        <div class="timeline-block">
          <div class="timeline-ico"><i class="fa fa-briefcase"></i></div>
          <div class="timeline-header"><h3>M.Sc. Informatics</h3><p>July 2018 - October 2020</p></div>
          <div class="timeline-content"><h4>Institute of Informatics and Communication, University of Delhi</h4><p>CGPA: 7.77<br>GATE 2020 Qualified in Computer Science and Applications with 88 Percentile</p></div>
        </div>
        <div class="timeline-block">
          <div class="timeline-ico"><i class="fa fa-briefcase"></i></div>
          <div class="timeline-header"><h3>B.Sc.(Hons) Electronics</h3><p>July 2015 - July 2018</p></div>
          <div class="timeline-content"><h4>Zakir Husain Delhi College, University of Delhi</h4><p>CGPA: 7.55</p></div>
        </div>
        <div class="timeline-block">
          <div class="timeline-ico"><i class="fa fa-briefcase"></i></div>
          <div class="timeline-header"><h3>XII (CBSE)</h3><p>May 2014 - June 2015</p></div>
          <div class="timeline-content"><h4>Jindal Public School</h4><p>Percentage: 88%</p></div>
        </div>
        <div class="timeline-block">
          <div class="timeline-ico"><i class="fa fa-briefcase"></i></div>
          <div class="timeline-header"><h3>X (CBSE)</h3><p>April 2012 - June 2013</p></div>
          <div class="timeline-content"><h4>Jindal Public School</h4><p>CGPA: 9.2</p></div>
        </div>
      </div>
    </div>
  </div>
</section>
