<section id="cta" class="grey-section">
  <div class="row cta-content">
    <div class="col-twelve section-ads">
      <h2 class="h01" style="color:#1E90FF">POSITIONS OF RESPONSIBILITY</h2>
    </div>
  </div>
  <div class="row resume-timeline">
    <div class="col-twelve">
      <div class="timeline-wrap">
        <div class="timeline-block">
          <div class="timeline-ico"><i class="fa fa-graduation-cap"></i></div>
          <div class="timeline-header"><h3>Member of Composition Team</h3><p>January 2019 - September 2020</p></div>
          <div class="timeline-content"><h4>Innovation Council, University of Delhi</h4><p>Built website on CMS Made Simple and updated its events.<br>Link: <a href="http://innovationcouncil.du.ac.in/web/" target="_blank">Innovation Council Website</a></p></div>
        </div>
        <div class="timeline-block">
          <div class="timeline-ico"><i class="fa fa-graduation-cap"></i></div>
          <div class="timeline-header"><h3>Member of Web Team</h3><p>August 2018 - August 2020</p></div>
          <div class="timeline-content"><h4>Institute of Informatics and Communication, University of Delhi</h4><p>Added new pages and updated events with a team of 5 people.<br>Link: <a href="http://iic.du.ac.in/" target="_blank">IIC Website</a></p></div>
        </div>
        <div class="timeline-block">
          <div class="timeline-ico"><i class="fa fa-graduation-cap"></i></div>
          <div class="timeline-header"><h3>Member of Student Partner Programme</h3><p>February 2020 - March 2020</p></div>
          <div class="timeline-content"><h4>IIT Roorkee</h4><p>Created database of college students and spread the word about Cognizance 2020.</p></div>
        </div>
        <div class="timeline-block">
          <div class="timeline-ico"><i class="fa fa-graduation-cap"></i></div>
          <div class="timeline-header"><h3>Member of Student Partner Programme</h3><p>March 2020 - May 2020</p></div>
          <div class="timeline-content"><h4>Internshala</h4><p>Organized leadership talks and took part in various contests.</p></div>
        </div>
      </div>
    </div>
  </div>
</section>
